@charset "UTF-8";

body{
 background-color: rgb(100, 185, 255);
 font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
}

div{

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}